<mat-toolbar class="w-full">
    <div class="max-w-[1200px] mx-auto w-full flex justify-between items-center">
        <span>ng-ecommerce</span>
        <div class="flex items-center gap-2">
            <a matIconButton routerLink="/cart" [matBadge]="store.cartItemsCount()" [matBadgeHidden]="store.cartItemsCount() === 0"><mat-icon>shopping_cart</mat-icon></a>
            <a matIconButton routerLink="/wishlist" [matBadge]="store.wishlistItemsCount()" [matBadgeHidden]="store.wishlistItemsCount() === 0"><mat-icon>favorite</mat-icon></a>
           
            @if(store.user(); as user){
                 <button matIconButton [matMenuTriggerFor]="userMenu">
                    <img [src]="user.imageUrl" [alt]='user.name' class="w-8 h-8 rounded-full">
                </button>

                <mat-menu #userMenu="matMenu" xPosition="before">
                    <div class="flex flex-col px-3 min-w-[200px]">
                        <span class="text-sm font-medium">{{user.name}}</span>
                        <span class="text-xs text-gray-500">{{user.email}}</span>
                       
                    </div>
                    <mat-divider></mat-divider>
                    <button class="min-h-[32px]" mat-menu-item (click)="store.logOut()">
                        <mat-icon>logout</mat-icon>
                        <span>Log Out</span>
                    </button>
                </mat-menu>
            }@else{
                <button matButton (click)="openSignInDialog()">Sign In</button>
                <button matButton="filled" (click)="openSignUpDialog()">Sign Up</button>
            }
        </div>
    </div>
</mat-toolbar>
