<mat-toolbar class="w-full">
    <div class="max-w-[1200px] mx-auto w-full flex justify-between items-center">
        <span>ng-ecommerce</span>
        <div class="flex items-center gap-2">
            <a matIconButton routerLink=""><mat-icon>shopping_cart</mat-icon></a>
            <a matIconButton routerLink="/wishlist" [matBadge]="store.wishlistItemsCount()" [matBadgeHidden]="store.wishlistItemsCount() === 0"><mat-icon>favorite</mat-icon></a>
            <button matButton>Sign In</button>
            <button matButton="filled">Sign Up</button>
        </div>
    </div>
</mat-toolbar>
